.header {
  display: flex;
  justify-content: space-between;
  background: rgb(92, 88, 92);
  padding: 1.2rem 2rem;
  align-items: center;
  color: aliceblue;
}

.nav {
  display: flex;
  gap: 1.4rem;
  list-style-type: none;
}
.nav_element {
  text-decoration: none;
  color: aliceblue;
}

.nav_element:hover {
  text-decoration: underline;
  font-size: 2rem;
}
